body{
  background-color: #868686;
}
.container {
  display: flex;
}

h1 {
  text-align: center;
}

.main-box {
  height: 600px;
  width: 700px;
  background-color: #e8e8e8;
  margin: 0px auto;
  border-radius: 25px;
  box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
  display: block;
}

.main-bottom {
  display: flex;
  justify-content: center;
}

/*was .grid-box*/
.color-boxes {
  /*background-color: white;*/
  width: 630px;
  height: 450px;
  margin: 20px auto;
  /*border-radius: 15px;*/
}

.box{
  float:left;
  height:10px;
  width: 10px;
  background-color: white;
  border: 1px black solid;
}

.selectorText{
  text-align: center;
  margin: 0;
}

/*used to be .color-swatches-container*/
.colorSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*used to be .color-swatches*/
.pickAColor {
  width: 25px;
	height: 25px;
	border-radius: 12.5px;
  margin: 5px;
}

.inlineBox {
  display: inline-block;
}

.colorIndicator {
  height: 10px;
  width: 70px;
  border: 2px solid black;

}

#darkRed {
  background-color: #7e0505;
}

#red{
  background-color: #f50b25;
}

#pink {
  background-color: #d743c0
}

#orange {
  background-color: #f0881d;
}

#orangeYellow {
  background-color: #f0ae1d;
}

#yellow {
  background-color: #ebe105;
}

#lightGreen{
  background-color: #2db40c;
}

#darkGreen{
  background-color: #117712;
}

#blue {
  background-color: #1c32c6;
}

#lightBlue {
  background-color: #30dbe0;
}

#lightPurple {
  background-color: #ac4eed;
}

#purple {
  background-color: #6903fc;
}

#brown {
  background-color: brown;
}

#gray {
  background-color: grey;
}

#black {
  background-color: black;
}

#white{
  background-color: #ffffff;
}



/*not needed bc divs are block?*/
/*.row {
  display:block;
}*/
