body{
  background-color: #868686;
}
.container {
  display: flex;
}

h1 {
  text-align: center;
}

h4 {
  margin: 5px 15px;
}

.main-box {
  height: 600px;
  width: 700px;
  background-color: #e8e8e8;
  margin: 0px auto;
  border-radius: 25px;
  box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
  display: block;
}

.main-bottom {
  display: flex;
  justify-content: center;
  background-color: #393737;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/*was .grid-box*/
.color-boxes {
  width: 650px;
  height: 450px;
  margin: 20px auto;
  /*border-radius: 15px;*/
  clear: left;
}

.box{
  float:left;
  height:10px;
  width: 10px;
  background-color: white;
  border: 1px black solid;
}

.selectorText{
  text-align: center;
  margin: 0;
}

/*used to be .color-swatches-container*/
.colorSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*used to be .color-swatches*/
.pickAColor {
  width: 25px;
	height: 25px;
	border-radius: 12.5px;
  margin: 5px;
  border: 1px solid black;
}

.inlineBox {
  display: inline-block;
}

.colorIndicator {
  height: 20px;
  width: 50px;
  border: 2px solid black;
}

.clearGrid {
  margin-left: 100px;
}

#darkRed {
  background-color: DarkRed;
}

#red{
  background-color: red;
}

#hotPink {
  background-color: HotPink;
}

#orangeRed {
  background-color: orangeRed;
}

#gold {
  background-color: gold;
}

#yellow {
  background-color: Yellow;
}

#seaGreen{
  background-color: SeaGreen;
}

#green{
  background-color: Green;
}

#mediumBlue {
  background-color: MediumBlue;
}

#darkOrchid {
  background-color: DarkOrchid;
}

#deepSkyBlue {
  background-color: DeepSkyBlue;
}

#blueViolet {
  background-color: BlueViolet;
}

#saddleBrown {
  background-color: SaddleBrown;
}

#peru {
  background-color: Peru;
}

#grey {
  background-color: grey;
}

#black {
  background-color: black;
}

#white{
  background-color: white;
}

#antiqueWhite{
  background-color: AntiqueWhite;
}

/*not needed bc divs are block?*/
/*.row {
  display:block;
}*/
